/* General */
body { background-color: #111; }
body * { color: #eaeaea; }
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad { margin-top:20px; }
.navbar { border-radius: unset; }
.row { padding: 0 50px; }
.titol-pagina {
    margin: 50px 0;
    text-align: center;
    padding: 0 15px;
}
footer {
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
}
/* Llista jocs */
.jocs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 30px;
    text-align: center;
    justify-content: center;
}
.jocs > a {
    text-decoration: none;
    color: unset;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    border: 3px solid transparent;
    transition: border 0.3s ease-in;
}
.jocs > a:hover {
    border-color: #5b7d91;
    transition: border 0.6s ease-out;
}
.joc {
    position: relative;
}

.joc img {
    transition: all 0.4s;
    width: 100%;
}
.joc:hover img {
    filter: saturate(150%);
}
.joc-descripcio {
    position: absolute;
    bottom: 100px;
    left: 1%;
    right: 1%;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}
.joc:hover .joc-descripcio {
    opacity: 1;
    transition: opacity 0.6s ease-out;
}
.joc-nom {
    position: absolute;
    padding: 15px 0;
    background-color: rgba(4, 82, 115, 0.9);
    left: 0;
    bottom: 0px;
    width: 100%;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease-in;
}
.joc:hover .joc-nom {
    background-color: rgba(56, 38, 108, 0.9);
    opacity: 1;
    transition: all 0.6s;
}

/* Puntuacions */
.puntuacions {
    display: flex;
    align-content: center;
    flex-direction: column;
}
.puntuacions h2 {
    margin-top: 0;
    text-align: center;
}
.puntuacions ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.puntuacions ul > li {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}
.puntuacions ul > li:hover, .puntuacions ul > li.active{
    color: #705ee7;
}
#classificacio-puntuacions {
    text-align: center;
    font-size: 16px;
}
#classificacio-puntuacions table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 50px 5px;
}
#classificacio-puntuacions table th {
    text-align: center;
}
#classificacio-puntuacions .fa-spin {
    font-size: 30px;
}

@media (max-width: 1200px) {
    .jocs { grid-template-columns: 1fr 1fr; }
}
@media (max-width: 575px) {
    .jocs { grid-template-columns: 1fr; }
    .row { padding: 0 25px; }
    .titol-pagina { font-size: 24px; }
}